.container{
  width: 100%;
  background: #023818;
  margin-top: -4px;
}
.map{
  width: 1000px;
  margin: 0 auto;
  margin-top: 70px;
}
.container::before{
  content: "";
  display: table;
}
/* 小标题 */
.title1{
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.title1>img{
  width: 79px;
  margin-top: 50px;
}
.title1>p:nth-child(2){
  font: 28px "微软雅黑";
  margin-top: 5px;
}
.title1>p:last-child{
  font: 16px "微软雅黑";
  margin-top: 5px;
}

.word{
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
.word>img{
  width: 48%;
}
.message{
  width: 48%;
}
.message>p:first-child{
  font-size: 15px;
}
.message>p:nth-child(2),.message>p:nth-child(4),.message>p:nth-child(6),.message>p:nth-child(8){
  font: 12px ΢���ź�;
  margin-top: 10px;
  margin-bottom: 5px;
}
.message>input,.message>select{
  display: block;
  width: 100%;
  height: 36px;
}
.message>button{
  width: 150px;
  height: 40px;
  background: #FFAD2B;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  border: 0;
  margin-top: 20px;
}
.message>textarea{
  width: 100%;
  height: 108px;
}
/* footer */
.foot{
  width: 100%;
  padding: 30px 20px;
  background: #011308;
}
.foot>div{
  width:1000px;
  margin: 0 auto;
  text-align: center;
}